<html>
    <head>
        <title></title>
        <script src="jquery-3.2.1.min.js"></script>
        <script src="scorebug.js"></script>
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body>
        <div class="scorebug fadeon">
            <div class="scorebuginner">
                <span class="team" id="team1">AAA</span><span class="score" id="score1">12</span>
                <span class="team" id="team2">BBB</span><span class="score" id="score2">34</span>
            </div>
        </div>
    </body>
</html>
