<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script>
		var data;
        function play() {
			function delayed() {
				// Get the width of the name
				var nameElement = document.getElementById('nameid');
				var secondBarWidth = nameElement.offsetWidth + 40;
				// Get the width of the title
				var titlebox = document.getElementById('titleid');
				document.getElementById('bgLowerWhite').style.width = (titlebox.offsetWidth + 40) + "px";
				var whiteWidth = titlebox.offsetWidth + 40;
				// Start animating
				var tl = new TimelineMax();
				  // Reveal white bar
				  tl.to(".upper_white_box", 0.5, {css:{height: "6.9vh", top: "83.3vh"}});
				  // Animate white bar to left
				  tl.to(".upper_white_box", 1, {css:{left: "5.2vw"}});
				  // Expand (based on name width) white bar to right 
				  tl.to(".upper_white_box", 1, {css:{width: secondBarWidth +"px"}});
				  // Shrink white bar to right 
				  tl.to(".upper_white_box", 1, {css:{width: "0px", left: secondBarWidth + 100 +"px"}},"-=0.75");
				  // Reveal second bar
				  tl.to(".upper_second_box", 1, {css:{width: secondBarWidth +"px", left: "5.2vw"}},"-=1");
				  // Animate "name" to left
				  tl.to(".name", 1, {css:{left: "1vw"}},"-=1");
				  // Animate title only if there is one
				  if (data.title != "" && typeof data.title !== 'undefined') {
					// Animate lower white box
					tl.to(".lower_white_box", 1, {css:{top: "90.3vh", height: "4.62vh"}},"-=1.25");
					// Animate "title" text
					tl.to(".title", 1, {css:{top: "0px"}},"-=1.25");
				  }
			}
			// 40ms delayed for css font load, otherwise the width of the boxes might be wrong
			// if you have another solution let me know.
			setTimeout(delayed, 40);
        }
		
        function stop() {
			var tl = new TimelineMax();
			  // Animate bars off screen
			  tl.to(".upper_second_box", 0.5, {css:{height: "0px",top: "90.3vh"}});
			  tl.to(".lower_white_box", 0.5, {css:{height: "0px"}},"-=0.5");
        }

        function update(str) {
			// Check if user input is empty
			if (str == "" || str == "<templateData></templateData>") {
				// Input empty, set example text
				data = JSON.parse('{"name":"Example name [name]", "title":"Example title [title]"}');
			} else {
				try {
					// Input JSON, parse to data variable
					data = JSON.parse(str);
				} catch (e) {
					// Input not JSON, set example text
					data = JSON.parse('{"name":"[name] Data must be JSON formatted", "title":"[title]"}');
				}
			}
			var name = document.getElementById('nameid');
			// Check if name is set
			if (name.innerHTML == "") {
				// Set name from user input
				name.innerHTML = data.name;
			} else {
				// Name set before, update name
				name.innerHTML = data.name;
				var nameElement = document.getElementById('nameid');
				// Make sure the name fits on bar (scale to width)
				TweenMax.to(".upper_second_box", 0.1, {css:{width: (nameElement.offsetWidth + 40) + "px"}, ease:Linear.easeNone});
			}
			var title = document.getElementById('titleid');
			// Check if title is set
			if (title.innerHTML == "") {
				// Set title from user input
				title.innerHTML = data.title;
			} else {
				// Title set before, update title
				title.innerHTML = data.title;
				var titlebox = document.getElementById('titleid');
				// Make sure the title fits on bar (scale to width)
				TweenMax.to(".lower_white_box", 0.1, {css:{width: (titlebox.offsetWidth + 40) + "px"}, ease:Linear.easeNone});
			}
            if (data.colourA !== undefined) {
                TweenMax.to("#nameid", 0.1, {css:{'color': data.colourA}, ease:Linear.easeNone});
                TweenMax.to("#titleid", 0.1, {css:{'background-color': data.colourA}, ease:Linear.easeNone});
                TweenMax.to(".lower_white_box", 0.1, {css:{'background-color': data.colourA}, ease:Linear.easeNone});
                TweenMax.to(".upper_white_box", 0.1, {css:{'background-color': data.colourA}, ease:Linear.easeNone});
            }
            if (data.colourB !== undefined) {
                TweenMax.to("#nameid", 0.1, {css:{'background-color': data.colourB}, ease:Linear.easeNone});
                TweenMax.to(".upper_second_box", 0.1, {css:{'background-color': data.colourB}, ease:Linear.easeNone});
                TweenMax.to("#titleid", 0.1, {css:{'color': data.colourB}, ease:Linear.easeNone});
            }
        }
		function debugUpdate() {
			// Used only if debuging (see below)
			document.body.style.backgroundColor = "#ccc";
			update('{"name":"Debug name [name]", "title":"Debug title [title]"}');
		}
		</script>		
    </head>
    <body>
		<!-- DEBUG MODE UNCOMMENT FOR USE IN BROWSER -->
		<!--
		<div class="debug">
			<button type="button" onclick="debugUpdate()">UPDATE</button>
			<button type="button" onclick="play()">PLAY</button>
			<button type="button" onclick="stop()">STOP</button>
		</div>
		-->
		<!-- DEBUG END -->
		<div class="upper_white_box" id="bgUpperWhite"></div>
		<div class="upper_second_box" id="bgUpperSecond">
			<div class="name" id="nameid"></div>
		</div>
		<div class="lower_white_box" id="bgLowerWhite">
			<div class="title" id="titleid"></div>
		</div>
		<script src="js/TweenMax.js"></script>
		<script src="js/TimelineMax.js"></script>
		<script src="js/CSSPlugin.js"></script>
    </body>
</html>