<html>
    <head>
        <title>Hello CasparCG World</title>
        <!---Jquery is a useful library for most web development stuff--->
        <!-- Use local jquery <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/casparcg.js"></script>
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body>
        <!---This is a very simple "hello world" template that fades in a simple set of text on a black (technically transparent) background--->
        <div class="textbox fadeon">
            <h1 id="f0">Hello World</h1>
			<hr/>
            <h2 id="f1">Hello World</h2>
        </div>
    </body>
</html>