body {
    overflow: hidden;
}

/*
We style the div to be blue, but don't assign the body a background color. In normal web development this just defaults to white, however in CasparCG no color means transparent.
*/
.textbox {
	font-family: 'Myriad Pro';
    background-color:navy;
    color: white;
	margin: -10px;
    padding: 10px 15%;
	display: block;
	position: absolute;
	top: 66vh;
	width: 80%;
}

.scorebug {
	font-family: 'Myriad Pro';
    font-weight: bold;
    color: white;
	margin: 10px;
    padding: 0px 8px;
	display: block;
	position: absolute;
	top: 1vh;
    left: 5%;
    background: linear-gradient(#999, #333);
    font-size: 20px;
}

.scorebuginner {
    padding: 4px 4px;
}

.team, .score {
    margin: 0px 0px;
    padding: 4px 4px 5px;
}

.team {
    background-image: linear-gradient(to bottom, rgba(192,0,0,0.4), rgba(192,0,0,1));
    color: white;
}
.score {
    background-color: white;
    color: black;
    margin-right: 5px;
}

.fadeon {
    opacity:0; // Start invisible, we'll animate this on.
}

hr {
	border: 0px;
	height: 3px;
	background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255, 255, 255, 0.75), rgba(255,255,255,0.1));
}
