html, body {
	Width:100vw;  											/* Set to your channel's resolution */
	Height:100vh;											/* Set to your channel's resolution */
	Margin:0;												/* Use all available space */
	Padding:0;												/* Use all available space */
	Background:transparent;									/* The HTML consumer actually makes your background transparent by default, unless a color or image is specified - but this might be usefull when debugging in browsers */
	Overflow:hidden;										/* Hide any overflowing elements - to disable scollbars */
	-webkit-font-smoothing:antialiased !important;	 		/* Set aliasing of fonts - possible options: none, antialiased,  subpixel-antialiased */
}
@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('../fonts/DroidSansMono-webfont.woff') format('woff');
}
.upper_white_box {
  width: 10px;
  top: 90.3vh;
  left: 28.6vw;
  height: 0px;
  display:inline-block;
  position:relative;
  background-color:#fff;
  z-index: 20;
}
.upper_second_box {
  width: 0px;
  top: 83.3vh;
  left: 5.2vw;
  height: 7vh;
  display:inline-block;
  position:fixed;
  background-color:#eda129;
  z-index: 10;
  overflow: hidden;
}
.lower_white_box {
  background-color:#fff;
  position: absolute;
  top: 90.3vh;
  left: 5.2vw;
  width: 3.6vw;
  height: 0px;
  overflow: hidden;
  z-index: 5;
}
.name{
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 28.6vw;
  font-family: Poppins-Bold;
  font-size: 4.6vh;
  color: #fff;
  z-index: 15;
}
.title{
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 1vw;
  top: 3.7vh;
  font-family: Poppins-Bold;
  font-size: 2.8vh;
  color: #eda129;
  z-index: 8;
}
.debug {
  position:absolute;
  top:0px;
  left:0px;
}

.score_white_box, .LTscore_white_box {
  width: 10px;
  left: 28.6vw;
  height: 0px;
  display:inline-block;
  position:relative;
  background-color:#fff;
  z-index: 20;
}
.score_white_box {
  top: 5vh;
}
.LTscore_white_box {
  top: 83.3vh;
}

.score_second_box, .score_extra_box, .LTscore_second_box {
  width: 0px;
  display:inline-block;
  position:fixed;
  z-index: 15;
  overflow: hidden;
  font-family: Poppins-Bold;
}

.score_second_box, .LTscore_second_box{
  left: 5vw;
  color: #fff;
  background-color:#777;
}
.score_second_box {
  top: 5vh;
  height: 3vh;
  font-size: 2vh;
}
.LTscore_second_box {
  top: 83.3vh;
  height: 8vh;
  font-size: 5vh;
}
#scoreextra .score_extra_box {
    top: 8vh;
    left: 10vw;
    height: 3vh;
    font-size: 2vh;
    color: #000;
    background-color:#fff;
}

#score_extra_id {
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 28.6vw;
  z-index: 16;
  padding: 0 1vw;
}

.score {
  background: white;
  color: black;
  z-index: 16;
  left: 29vw;
  position: absolute;
  width: auto;
  white-space: nowrap;
  padding: 0 1vw;
  font-family: droid_sans_monoregular;
  font-weight: bold;
  height: 7vh;
}
.team {
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 29vw;
  color: #fff;
  z-index: 15;
  padding: 0 1vw;
}
#team1 {
    background-color: red;
}
#team2 {
    background-color: green;
}

.LTscore_second_box .score {
    height: 8vh;
    padding: 0.5vh 1vw;
}
.LTscore_second_box div {
    left: 200vw;
}
.lowerthird_banner .line1 {
  white-space: nowrap;
  position: absolute;
  left: 95vw;
  font-family: Poppins-Bold;
  font-size: 4.6vh;
  color: #fff;
  z-index: 15;
}
.lowerthird_banner .line2, #score_lowerthird .line2 {
  width: auto;
  white-space: nowrap;
  position: absolute;
  left: 1vw;
  top: 0vh;
  font-size: 2.8vh;
  z-index: 8;
}
.lowerthird_banner .line2 {
  font-family: Poppins-Medium;
  color: #eda129;
}
